@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --cor-primaria : #22D4FD;
    --cor-segundaria: #000000;
    --cor-terceira:#f6f6f6;
}
body{
    /* height: 70vh; */
    box-sizing: border-box;
    background-color: var(--cor-segundaria);
    color: var(--cor-terceira);
}
.destaque_titulo{
    color: var(--cor-primaria)
}

.cabecario{
    padding:2% 0 0 15%;
}
.cabecario_menu{
    display: flex;
    gap: 80px;
}

.cabecario_menu_link{
    color:var(--cor-primaria);
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    
}

.apresentacao{
    padding: 5%  15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo-titulo{
    font-size: 2.25rem;
    font-family:'Krona One', sans-serif;

}
.apresentacao__conteudo-descricao{
    font-size: 1.5rem;
    font-family:'Montserrat', sans-serif;
}
.apresentacao_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao_link-subtitulo{
    font-family:'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao_link_link{
    /* background-color: #22D4FD; */
    border: 2px solid var(--cor-primaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terceira);
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
}
.apresentacao_link_link:hover{
    cursor: pointer;
    background-color: #272727;
}
.imagem-principal{
    width: 50%;
}
.rodape{
    color: var(--cor-segundaria);
    background-color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
@media (max-width:1200px) {
    .apresentacao{
        flex-direction: column-reverse;
    }
}