*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
}
.destaque_titulo{
    color: #22D4FD;
}

.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px    ;
    height: 482px;
}
.apresentacao__conteudo-titulo{
    font-size: 36px;

}
.apresentacao__conteudo-discricao{
    font-size: 24px;
}
.imagem-principal{

}