*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
}
.destaque_titulo{
    color: #22D4FD;
}

.apresentacao-conteudo{
    display: flex;
    align-items: center;
}
.imagem-principal{

}